<ul class="inline-list">
    <li>
        <a class="button" href="{% url 'timeline_index' %}"><i class="fa fa-arrow-left"></i> Zurück zur Übersicht </a>
    </li>
    <li>
        <a class="button" href="
                {% if text %}
                    {% url 'timeline_text_update' object.pk %}
                {% endif %}
                {% if media %}
                    {% url 'timeline_media_update' object.pk %}
                {% endif %}
                {% if timeline %}
                    {% url 'timeline_update' object.pk %}
                {% endif %}
            "><i class="fa fa-edit"></i> Bearbeiten</a>
    </li>
    <li>
    </li>
    <li>
        <a class="button alert" href="
                {% if text %}
                    {% url 'timeline_text_delete' object.pk %}
                {% endif %}
                {% if media %}
                    {% url 'timeline_media_delete' object.pk %}
                {% endif %}
                {% if timeline %}
                    {% url 'timeline_delete' object.pk %}
                {% endif %}
            "><i class="fa fa-remove"></i> Löschen</a>

    </li>
</ul>
