{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}



    <h1>
        Timelines
    </h1>
    <table width="100%">
        <thead>
        <tr>
            <th>
                Titel
            </th>
        </tr>
        </thead>
        <tbody>
        {% for timeline in object_list %}
            <tr>
                {% if timeline %}
                    <td>
                        <a href="{% url 'timeline_detail' timeline.pk %}">{{ timeline.title }}</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}