{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="panel">
        <h1>
            A List of timeline objects
        </h1>

        <table>
            <thead>
            <tr>
                <th>
                    Titel
                </th>
                <th>
                    Text
                </th>
                <th>
                    Media
                </th>

            </tr>
            </thead>
            <tbody>
            {% for timeline in object_list %}
                <tr>
                    {% if timeline %}
                        <td>
                            <a href="{% url 'timeline_detail' timeline.pk %}">{{ timeline.title }}</a>

                        </td>
                        <td>
                            {% if timeline.text %}
                                <a href="{% url 'timeline_text_detail' timeline.text.pk %}">{{ timeline.text.headline }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if timeline.media %}
                                <a href="{% url 'timeline_media_detail' timeline.media.pk %}">{{ timeline.media.caption }}</a>
                                </td>
                            {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="button" href="{% url 'timeline_create' %}"><i class="fa fa-plus"></i> Neue Timeline </a>
    </div>

{% endblock content %}